@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-family);
    background: var(--light-gray);
}

:root{
    /* Colors */
    --white:hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* Fonts */
    --font-family: "Outfit", sans-serif;
    --font-wght-400: 400;
    --font-wght-700: 700;
    --Font-size-paragraph: 15px;
}
    
p{
  font-size: 15px;
}

.container{
    background: var(--white);
    max-width: 340px;
    margin: 150px auto 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
}

.item {
    max-width: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img img{
    width: 300px;
    border-radius: 15px;
}

.heading h1{
    margin-top: 25px;
    font-weight: var(--font-wght-700);
    font-size: 25px;
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.paraghaph p{
    font-size: var(--Font-size-paragraph);
    font-weight: var(--font-wght-400);
    color: var(--grayish-blue);
    margin-bottom: 20px;
    padding: 5px 25px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width: 375px){
    .container{
        margin: 20% auto 0 auto;
        padding: 20px;
    }

    .heading h1{
        margin-top: 15px;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .paraghaph p{
        font-weight: 400;
        margin-bottom: 20px;
    }  
}
