@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Outfit';
    background: var(--light-gray);
}

:root{
    --white:hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
    
p{
  font-size: 15px;
}

.container{
    background: var(--white);
    width: 25%;
    margin: 5% auto 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
}

.item {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item img{
    width: 100%;
    border-radius: 15px;
}

.a{
    margin-top: 10px;
    font-weight: 700;
    font-size: 35px;
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.b{
    font-size: 25px;
    font-weight: 400;
    color: var(--grayish-blue);
    margin-bottom: 20px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width: 375px){
    .container{
        width: 80%;
        margin: 20% auto 0 auto;
        padding: 20px;
    }

    .a{
        margin-top: 10px;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .b{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    
}